.mySwiper {
    z-index: 10000;
}

.project-wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 15px;
    height: 100%;
    z-index: 100000;
    text-align: center;
    width: 100%;
}

.title-wrapper2 {

    text-align: center;
    margin-top: 30px;
    width: 100%;

}

.card {
    width: 286px;
    height: 391.64px;
    /* 261px + 10% */
    padding: 0 33px 0 33px;
    /* 30px + 10% */
    margin-right: 32px;
}

.proj-img0 {
    width: 289.3px;
    /* 263px + 10% */
    height: 200.2px;
    /* 182px + 10% */
    border-radius: 22px 22px 0 0;
    /* 20px + 10% */
    background-image: url('https://ik.imagekit.io/kyempw5oy/project1.png?updatedAt=1740762314276');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Updated border-radius */
}

.proj-img1 {
    width: 289.3px;
    /* 263px + 10% */
    height: 200.2px;
    /* 182px + 10% */
    border-radius: 22px 22px 0 0;
    /* 20px + 10% */
    background-image: url('https://ik.imagekit.io/kyempw5oy/project2.png?updatedAt=1740762314845');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Updated border-radius */
}

.proj-img2 {
    width: 289.3px;
    /* 263px + 10% */
    height: 200.2px;
    /* 182px + 10% */
    border-radius: 22px 22px 0 0;
    /* 20px + 10% */
    background-image: url('https://ik.imagekit.io/kyempw5oy/project3.png?updatedAt=1740762314836');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Updated border-radius */
}

.proj-img3 {
    width: 289.3px;
    /* 263px + 10% */
    height: 200.2px;
    /* 182px + 10% */
    border-radius: 22px 22px 0 0;
    /* 20px + 10% */
    background-image: url('https://ik.imagekit.io/kyempw5oy/front1.png?updatedAt=1740762314303');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Updated border-radius */
}

.proj-img4 {
    width: 289.3px;
    /* 263px + 10% */
    height: 200.2px;
    /* 182px + 10% */
    border-radius: 22px 22px 0 0;
    /* 20px + 10% */
    background-image: url('https://ik.imagekit.io/kyempw5oy/front2.png?updatedAt=1740762314803');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Updated border-radius */
}

.proj-img5 {
    width: 289.3px;
    /* 263px + 10% */
    height: 200.2px;
    /* 182px + 10% */
    border-radius: 22px 22px 0 0;
    /* 20px + 10% */
    background-image: url('https://ik.imagekit.io/kyempw5oy/front3.png?updatedAt=1740762314299');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Updated border-radius */
}

.proj-details {
    padding: 20px;
    height: 238.7px;
    /* 217px + 10% */
    width: 249.3px;
    /* 261px + 10% */
    border-radius: 0 0 22px 22px;
    /* 20px + 10% */
    /* Updated border-radius */
    background: linear-gradient(270deg, rgb(21, 19, 46) 0%, rgb(40, 34, 101) 100%);
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}

.proj-title {
    color: var(--Solid-Heading-Dark-mode, #CCC);
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin: 0%;
    /* 92.857% */
}

.proj-details p {
    margin-top: 8px;
    text-align: left;
    color: var(--Solid-Heading-Dark-mode, #CCC);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}