.mySwiper{
    z-index: 10000;
}
.click-wrapper1{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/1.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper2{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/2.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper3{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/3.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper4{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/4.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper5{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/5.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper6{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/6.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper7{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/7.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper8{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/8.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper9{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/9.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper10{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/10.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper11{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/11.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper12{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/12.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper13{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/13.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper14{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/14.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper15{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/15.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper16{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/16.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper17{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/17.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper18{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/18.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper19{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/19.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper20{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/20.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
.click-wrapper21{
    width: 286px;
height: 381.64px;
flex-shrink: 0;
border-radius: 24px;
background: url(https://ik.imagekit.io/mtmwll7w3/ayushShivhare/21.jpg?updatedAt=1698519702142), no-repeat;
background-size: contain;
}
